@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

.pac-item span:not(:first-child) {
	font-size: 36px;
	color: rgb(61, 61, 61);
}

.pac-item {
	padding: 8px 0;
}

// .pac-container {
//   font-size: 20px;
//   color: orange;
// }
// .pac-item-query {
//   font-size: 20px;
//   color: green;
// }

// .pac-matched {
//   font-size: 20px;
//   color: brown;
// }

// .pac-matched {
//   font-size: 20px;
//   color: blue;
// }

.testClass {
	//width: 81%;
	grid-area: 8/1/9/3;
	//background: white;
	justify-self: center;
	padding-left: 5px;

	div {
		div {
			//width: 216px !important;

			iframe {
				//width: 216px;
			}
		}
	}
}
