

.testClass{

    //width: 81%;
    grid-area: 8/1/9/3;
    //background: white;
    justify-self: center;
    padding-left: 5px;

    div{


        div{
            //width: 216px !important;



            iframe{

                //width: 216px;

              

                

                
            }
        }
    }
 
}

