// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.ziploker{

    fill: white
}



.selected{

    #layer1 path:nth-child(2){

        fill:#2ef00a2b;
    }

    #layer1 path:nth-child(3){

        fill: rgb(46, 240, 10);
    }
}
    
