<%= puts "inside layooooooooooooooooooooooout" %>
<!DOCTYPE html>
<html>
  <head>
    <title>floridablazer</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'floridablaze-bundle' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
